body {
    display: flex;
    justify-content: center;
    margin-top: 140px;
    font-size: 32px;
}

.board {
    border-collapse: collapse;
    border: 2px solid black;
}

.box {
    height: 60px;
    width: 60px;
    text-align: center;
    vertical-align: middle;
    font-size: 32px;
}

.black {
    background-color: #769656;
}

.white {
    background-color: #eeeed2;
}
