*{
    background-color: black;
    padding: 0%;
    margin: 0%;
}
.box{
    background-color: blaxk;
    height: 12.5em;
    width: 12.5em;
}
.box1{
    background-color: white;
    height: 12.5em ;
    width: 12.5em;
}
section{
    display: flex;
}
div{
    display: flex;
   height: 12.5em ;
    width: 12.5em;
}
